.page-content {
  a {
    font-style: italic;
  }

  .excerpt {
    margin-bottom: 15px;
    margin-top: -15px;
  }

  .post .blogphoto {
    text-align: center;
  }

  .pagination {
    margin-bottom: 15px;
    margin-top: 15px;
  }

  .pagination a.previous,
  .pagination a.next {
    border: 2px solid $brand-color;
    border-radius: 5px;
    color: $brand-color;
    display: inline-block;
    padding: 5px;

    &:hover {
      background-color: darken($brand-color, 15%);
      color: white;
      text-decoration: none;
    }
  }
}
